  <div class="col-xs-6">
    <h4>Login with Google</h4>
    <button class="btn btn-info green" ng-click="loginGoogle()">Sign In</button>
  </div>

  <div class="col-xs-6 text-right">
    <section class="auth-form">
    <h4>Login with Another Email Address</h4>
    <div>
      Email: <input type="text" autofocus="true green" ng-model="account.email">
    </div>
    <div>
      Password: <input type="password" ng-model="account.password">
    </div>
    <div>
      <button class="btn btn-info green" ng-click="login()">Login</button>
    </div>
    <div>
    <h4>Register</h4>
      <a href="#!/register"><button class="btn btn-default green">Register</button><a>
    </div>
    </section>
  </div>
</div>